.form-background
  .form-content
    = form_for @product do |form|
      .row
        .col-sm-12
          .form-group
            = form.label :name
            = form.text_field :name, class: "form-control"
      .row
        .col-sm-12
          .form-group
            = form.label :description
            = form.text_area :description, class: "form-control", rows: 4
      .row
        .col-sm-12
          .form-group
            = form.label :amount
            = form.number_field :amount, min: 1, step: 1, class: "form-control"
      .row
        .col-sm-12
          .form-group
            = form.label :price
            = form.number_field :price, min: 1, step: 0.01, class: "form-control"
      .row
        .col-sm-12
          .form-group
            = form.label :department
            = form.collection_select :department_id, @departments, :id, :name, {}, class: 'form-control'
      = form.submit name, class: "btn btn-success"
      = link_to "Cancel", root_url, class: "btn btn-primary "