<div class="form-background">
  <div class="form-content">
    <%= form_for @product do |form| %>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <%= form.label :name %>
            <%= form.text_field :name, class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <%= form.label :description %>
            <%= form.text_area :description, class: "form-control", rows: 4 %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <%= form.label :amount %>
            <%= form.number_field :amount, min: 1, step: 1, class: "form-control"%>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <%= form.label :price %>
            <%= form.number_field :price, min: 1, step: 0.01, class: "form-control"%>
          </div>
        </div>
      </div>

      <%= form.submit name, class: "btn btn-success" %>
      <%= link_to "Cancel", root_url, class: "btn btn-primary " %>
    <% end %>
  </div>
</div>