<% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= product.description %></td>
    <td><%= Department.find(product.department_id).name %></td>
    <td><%= product.price %></td>
    <td><%= product.amount %></td>
    <td>
      <div class="ajust-buttons ">
        <%= link_to "Edit", edit_product_path(product), class:"btn btn-info " %>
        <p class="separator">|</p>
        <%= button_to "Remove", product, method: :delete, class:"btn btn-danger", data: {confirm: "Are you sure do you want to remove #{product.name}?"} %>
      </div>
    </td>
  </tr>
<% end %>